.main-section {
  padding: 4.5rem 3.5rem 2.5rem 3.5rem;
}
.subject-image img {
  width: 80%;
  max-width: 25rem;
  min-width: 200px;
  margin-top: 2rem;
}

section{
  margin-bottom: 1.5rem;
}
.headings{
  line-height: 1.7rem;
}

.headings,
.description {
  padding-bottom: 1rem;
}
.subject-image {
  display: flex;
  justify-content: center;
}
.social-icons {
  display: flex;
  justify-content: center;
}
.sub-image-dec img {
  width: 20%;
  padding-left: 0.5rem;
}
.sub-image-dec {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-head {
  text-align: center;
  font-size: 1.5rem;
  color: #505050;
  margin: 4rem 0;
}
.tech-icons{
  display: flex;
  justify-content: space-evenly;
}

.tech-icons img{
  max-width: 15%;
  min-width: 70px;
  margin-bottom: 2rem;
}

.tech-experience{

    display: flex;
    flex-direction: column;
  }



.projects{
  display: flex;
  flex-direction: column;
}
.project-image{
  margin-bottom: 10%;
}
.project-image img{
  width: 100%;
}
.project-section{
  display: flex;
  flex-direction: column;
}

#form {
  display: flex;
  flex-direction: column;
}

#form-card1 {
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
}
#form-card2{
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8B8B8B;
}

#contactForm label{
  font-size: 1rem;
  margin-bottom:5rem;
}
#contactForm{
  width: 75%;
}
#contactForm input{
  margin-bottom: 0.8rem;
  padding: 0.5rem;
  width: 100%;
  margin-top: 0.4rem;
}
#contactForm textarea{
  width: 100%;
  height: 10rem;
  margin-bottom: 0.8rem;
  margin-top: 0.4rem;
}
#form h4{
  padding-bottom: 0.4rem;
}

#form p{
  padding-bottom: 0.4rem;
}

.white-btn {
  width: fit-content;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  font-weight: 700;
  text-align: center;
  background-color: white;
  color: #ff8080;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.116);
  align-self: center;
}
#form-card1 img{
  display: none;
}



@media (min-width: 900px) {
  body{
  margin:0 auto; 
  }
  .main-section {
  max-width: 1280px;
}
  header{
    max-width: 1280px;
  }
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #column1 {
    padding-right: 2rem;
  }
  .subject-image {
    justify-content: right;
  }
  .subject-image img {
    width: 70%;
    max-width: none;
  }
  .sub-image-dec {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10rem;
  }
  #column1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .headings {
    font-size: 2.4rem;
    line-height: 2.5rem;
    padding-bottom: 2rem;
  }
  .description {
    font-size: 1.1em;
    padding-bottom: 1.5rem;
  }
  .tech-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7rem;
  }
  .tech-icons img{
  width: 25%;
  max-width: none;
  margin-bottom: 2rem;
}
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }
  .project-image img{
    width: 100%;
  }
  #form{
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  #form-card1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #form-card1 img{
    padding: 2rem 0 4rem 0;
  width: 50%;
  display: block;
}
}




/* tech section */

/* 

h4 {
  font-size: 1em;
  margin: 0.2em 0;
}

.project-image .red-btn {
  width: 150px;
  margin-bottom: 2em;
  background-color: #fbc1c1;
} */

/* Get in touch section */

/* .get-in-touch-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2em;
  background-color: #ffffff;
  min-width: fit-content;
}
.card {
  background-color: white;
  width: fit-content;
  box-shadow: 0.05em 0.05em 3px rgba(59, 59, 59, 0.26);
  padding: 30px;
  display: flex;
  margin-left: 300px;
}

input {
  width: 100%;
  padding: 0.6em 0;
  margin: 5px 0 1em 0;
  margin-right: 10px;
  background-color: #fff6f6b7;
  border-radius: 3px;
  border-width: thin;
}

label {
  font-weight: 10;
}

.card button {
  width: 100%;
  padding: 0.3em 0;
  text-align: center;
  margin: 10px 0;
  background-color: #ff8888;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 1.2em;
  border: none;
}
